{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container pt-4">

    <div class="carousel">
        <div class="list">

            <div class="item">
                <img src="{{ asset('images/candle-flower.jpg') }}" alt="Image fleur bougie">
                <div class="content">
                    <div class="author">Little</div>
                    <div class="title">Bougie Fleurie</div>
                    <div class="topic">BOUGIE</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod delectus excepturi, recusandae voluptas molestiae quis nihil harum tenetur. Voluptates ratione reprehenderit unde magni nesciunt ipsa libero repellat, veritatis qui?
                    Ex culpa quas facere neque sapiente nobis eum consequatur eius recusandae perferendis alias ratione vel distinctio, aut nulla officia fuga porro corrupti ullam! Facere velit inventore voluptate voluptatibus eius. Provident.</div>
                    <div class="buttons">
                        <button>See More</button>
                        <button>Voir Plus</button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="{{ asset('images/candle-noel.jpg') }}" alt="Image noel bougie">
                <div class="content">
                    <div class="author">Jeanlard</div>
                    <div class="title">Bougie de Noël</div>
                    <div class="topic">BOUGIE</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod delectus excepturi, recusandae voluptas molestiae quis nihil harum tenetur. Voluptates ratione reprehenderit unde magni nesciunt ipsa libero repellat, veritatis qui?
                    Ex culpa quas facere neque sapiente nobis eum consequatur eius recusandae perferendis alias ratione vel distinctio, aut nulla officia fuga porro corrupti ullam! Facere velit inventore voluptate voluptatibus eius. Provident.</div>
                    <div class="buttons">
                    <button>See More</button>
                        <button>Voir Plus</button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="{{ asset('images/candle-smart.jpg') }}" alt="Image bougie">
                <div class="content">
                    <div class="author">Lucius</div>
                    <div class="title">Bougie Intel</div>
                    <div class="topic">BOUGIE</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod delectus excepturi, recusandae voluptas molestiae quis nihil harum tenetur. Voluptates ratione reprehenderit unde magni nesciunt ipsa libero repellat, veritatis qui?
                    Ex culpa quas facere neque sapiente nobis eum consequatur eius recusandae perferendis alias ratione vel distinctio, aut nulla officia fuga porro corrupti ullam! Facere velit inventore voluptate voluptatibus eius. Provident.</div>
                    <div class="buttons">
                    <button>See More</button>
                        <button>Voir Plus</button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="{{ asset('images/candle-method.jpg') }}" alt="Image outil bougie">
                <div class="content">
                    <div class="author">Candle-Project</div>
                    <div class="title">Nos Méthodes</div>
                    <div class="topic">BOUGIE</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod delectus excepturi, recusandae voluptas molestiae quis nihil harum tenetur. Voluptates ratione reprehenderit unde magni nesciunt ipsa libero repellat, veritatis qui?
                    Ex culpa quas facere neque sapiente nobis eum consequatur eius recusandae perferendis alias ratione vel distinctio, aut nulla officia fuga porro corrupti ullam! Facere velit inventore voluptate voluptatibus eius. Provident.</div>
                    <div class="buttons">
                    <button>See More</button>
                        <button>Voir Plus</button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="{{ asset('images/candle-who.jpg') }}" alt="Image who">
                <div class="content">
                    <div class="author">Candle-Project</div>
                    <div class="title">Qui sommes-nous</div>
                    <div class="topic">BOUGIE</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod delectus excepturi, recusandae voluptas molestiae quis nihil harum tenetur. Voluptates ratione reprehenderit unde magni nesciunt ipsa libero repellat, veritatis qui?
                    Ex culpa quas facere neque sapiente nobis eum consequatur eius recusandae perferendis alias ratione vel distinctio, aut nulla officia fuga porro corrupti ullam! Facere velit inventore voluptate voluptatibus eius. Provident.</div>
                    <div class="buttons">
                    <button>See More</button>
                        <button>Voir Plus</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="thumbnail">

            <div class="item">
                <img src="{{ asset('images/candle-flower.jpg') }}" alt="Image fleur bougie">
                <div class="content">
                    <div class="title">Bougie Fleurie</div>
                    <div class="des">Description</div>
                </div>
            </div>

            <div class="item">
                <img src="{{ asset('images/candle-noel.jpg') }}" alt="Image noel bougie">
                <div class="content">
                    <div class="title">Bougie de Noël</div>
                    <div class="des">Description</div>
                </div>
            </div>

            <div class="item">
                <img src="{{ asset('images/candle-smart.jpg') }}" alt="Image bougie">
                <div class="content">
                    <div class="title">Bougie Intel</div>
                    <div class="des">Description</div>
                </div>
            </div>

            <div class="item">
                <img src="{{ asset('images/candle-method.jpg') }}" alt="Image outil bougie">
                <div class="content">
                    <div class="title">Nos Méthodes</div>
                    <div class="des">Description</div>
                </div>
            </div>

            <div class="item">
                <img src="{{ asset('images/candle-who.jpg') }}" alt="Image who">
                <div class="content">
                    <div class="title">Qui sommes-nous</div>
                    <div class="des">Description</div>
                </div>
            </div>
            
        </div>

        <div class="arrows">
            <button id="prev">&lsaquo;</button>
            <button id="next">&rsaquo;</button>
        </div>
        <!-- time running -->
        <div class="time"></div>

    </div>



    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="width: 18rem">
                <img src="{{ asset('images/' ~ product.file ) }}" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Price: {{ product.price }} $</li>
                        <li>description: {{ product.description|u.truncate(200, '...', false) }}</li>
                        <li>Stock: {{ product.stock }}</li>
                        <li>Size: {{ product.size }}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
