{% extends 'base.html.twig' %}
{% import "macros.html.twig" as macros %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div>

    <div class="carousel">
        <div class="list">
            {{ macros.item("candle-flower.jpg", "Image fleur bougie", "Bougie Fleurie", "Little")}}
            {{ macros.item("candle-noel.jpg", "Image noel bougie", "Bougie de Noël", "Jeanlard")}}
            {{ macros.item("candle-smart.jpg", "Image bougie", "Bougie Intel", "Lucius")}}
            {{ macros.item("candle-method.jpg", "Image outil bougie", "Nos Méthodes", "Candle-Project")}}
            {{ macros.item("candle-who.jpg", "Image who", "Et nous ?", "Candle-Project")}}
        </div>

        <div class="thumbnail">
            {{ macros.thumbnail("candle-flower.jpg", "Image fleur bougie", "Bougie Fleurie")}}
            {{ macros.thumbnail("candle-noel.jpg", "Image noel bougie", "Bougie de Noël")}}
            {{ macros.thumbnail("candle-smart.jpg", "Image bougie", "Bougie Intel")}}
            {{ macros.thumbnail("candle-method.jpg", "Image outil bougie", "Nos Méthodes")}}
            {{ macros.thumbnail("candle-who.jpg", "Image who", "Et nous ?")}}            
        </div>

        <div class="arrows">
            <button id="prev">&lsaquo;</button>
            <button id="next">&rsaquo;</button>
        </div>
        <!-- time running -->
        <div class="time"></div>

    </div>
</div>

<div class="container pt-4">

    <div class="row">
    <h2>Nos Derniers Articles par categorie</h2>
        {% for category in categorys %}
            {% set lastProduct = category.products|last %}
            <a href="{{ path('candle_category', {'slug': category.slug})}}" class="text-decoration-none">
                <div class="card mb-3" style="max-width: 400px;">
                    <h3>{{ category.name }}</h3>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ asset('images/' ~ lastProduct.file ) }}" class="rounded-start" alt="Product Image" style="width: 120%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">{{ lastProduct.name }}</h5>
                                    <p class="price-style">{{ lastProduct.price }} €</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Crée le : {{ lastProduct.productAt|date("d/m/Y")}}</li>
                                    <li class="list-group-item">Stock: {{ lastProduct.stock }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="row">
    <h2>Tous nos Articles</h2>
        {% for product in products %}
            <a href="{{ path('candle_product', {'slug': product.slug})}}" class="text-decoration-none">
                <div class="card mb-3" style="max-width: 400px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ asset('images/' ~ product.file ) }}" class="rounded-start" alt="Product Image" style="width: 120%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="price-style">{{ product.price }} €</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Crée le : {{ product.productAt|date("d/m/Y")}}</li>
                                    <li class="list-group-item">Stock: {{ product.stock }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-center">
        {% do products.setPageRange(3) %}
        {{ knp_pagination_render(products, 'home/pagination.html.twig') }}
    </div>

</div>
{% endblock %}
