{% extends 'base.html.twig' %}
{% import "macros.html.twig" as macros %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div>

    <div class="carousel">
        <div class="list">
            {{ macros.item("candle-flower.jpg", "Image fleur bougie", "Bougie Fleurie", "Little")}}
            {{ macros.item("candle-noel.jpg", "Image noel bougie", "Bougie de Noël", "Jeanlard")}}
            {{ macros.item("candle-smart.jpg", "Image bougie", "Bougie Intel", "Lucius")}}
            {{ macros.item("candle-method.jpg", "Image outil bougie", "Nos Méthodes", "Candle-Project")}}
            {{ macros.item("candle-who.jpg", "Image who", "Et nous ?", "Candle-Project")}}
        </div>

        <div class="thumbnail">
            {{ macros.thumbnail("candle-flower.jpg", "Image fleur bougie", "Bougie Fleurie")}}
            {{ macros.thumbnail("candle-noel.jpg", "Image noel bougie", "Bougie de Noël")}}
            {{ macros.thumbnail("candle-smart.jpg", "Image bougie", "Bougie Intel")}}
            {{ macros.thumbnail("candle-method.jpg", "Image outil bougie", "Nos Méthodes")}}
            {{ macros.thumbnail("candle-who.jpg", "Image who", "Et nous ?")}}            
        </div>

        <div class="arrows">
            <button id="prev">&lsaquo;</button>
            <button id="next">&rsaquo;</button>
        </div>
        <!-- time running -->
        <div class="time"></div>

    </div>
</div>

<div class="container pt-4">

    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="width: 18rem">
                <img src="{{ asset('images/' ~ product.file ) }}" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Price: {{ product.price }} $</li>
                        <li>description: {{ product.description|u.truncate(200, '...', false) }}</li>
                        <li>Stock: {{ product.stock }}</li>
                        <li>Size: {{ product.size }}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
