{% extends 'base.html.twig' %}

{% block body %}

<div class="container pt-4">

    <div class="row">
        <h2>Contact</h2>
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.message) }}
        {{ form_end(form) }}
    </div>

</div>

{% endblock %}
