<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <img src="{{ asset('images/Candle-Project-logo.jpg' ) }}" class="rounded" alt="logo" style="width: 8rem;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{path("home")}}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path("we")}}">Nôtre savoir-faire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nous retrouver</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Nos bougies
          </a>
          <ul class="dropdown-menu">
            {% for category in categoryNavbar() %}
              <li><a class="dropdown-item" href="{{ path('candle_category', {'slug': category.slug})}}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('candle_contact') }}">Nous contacter</a>
        </li>
      </ul>
    </div>
    <a class="nav-connect btn" href="{{path("app_login")}}" >Connexion</a>
  </div>
</nav>

